.sign-up-container {
    display: flex;
    width: 50%;
    margin: auto;
}

.sign-up-container > .left-container {
    width: 40%;
}

.sign-up-container > .right-container {
    width: 60%;
    padding: 2%;
    border: 1px solid grey;
}

.sign-up-container > .right-container > input {
    display: block;
    width: 80%;
    padding: 3%;
    margin: 5% auto;
    border: 1px solid grey;
    border-radius: 1rem;
}

.sign-up-container > .right-container > button {
    display: block;
    padding: 2% 5%;
    margin: auto;
    margin-top: 7.5%;
    border: 0px;
    border-radius: 2rem;
    color: white;
    background: gold;
}