<app-navbar></app-navbar>

<div class="header-container">
    <h1>Find the next best options on <br> the market with our Option Scanner.</h1>
</div>

<div class="price-container">
    <div class="left-price">
        <h2>FREE</h2>
        <h4>can read last 3 post from feed</h4>
        <h4>no access to scanner</h4>
        <button id="free-button" (click)="navigateToSignUp()">Join</button>
    </div>

    <div class="right-price">
        <h2>$4.99</h2>
        <h4>read all users post</h4>
        <h4>access to options scanner</h4>
        <button id="paid-button" (click)="navigateToSignUp()">Join</button>
    </div>
</div>