<div>
    <app-navbar></app-navbar>
</div>

<div id="filter-controls-container">
    <div id="left-button-container">
        <button (click)="openControls()">
            Add Filter
        </button>
        <br/>
        <button>
            Download
        </button>
    </div>
    <div id="filter-container">
        <h4 *ngFor="let filter of activeFilters" (click)="openConfiguration(filter)">{{ filter.filterName }}</h4>
    </div>
    <div id="left-button-container">
        <button>
            Remove Filter
        </button>
        <br/>
        <button>
            Edit Filter
        </button>
    </div>
</div>

<div *ngIf="isLoaded">
    <div id="stock-container">
        <div class="stock-box" *ngFor="let stock of stocks; let i = index">
            <p>{{ stock.ticker }}</p>
            <p>${{ stock.price }}</p>
        </div>
    </div>
</div>

<div (click)="disableTopWindow()" *ngIf="isControlling || isConfiguring" #overlay id="overlay"></div>

<div id="filter-selector-container" *ngIf="isControlling">
    <div id="filter-choices" *ngIf="filterMode === filterConstants.stockMode">
        <h4 *ngFor="let filter of stockFilters" (click)="openConfiguration(filter)">{{ filter.filterName }}</h4>
    </div>
    <div id="filter-choices" *ngIf="filterMode === filterConstants.optionMode">
        <h4 *ngFor="let filter of optionsFilters" (click)="openConfiguration(filter)">{{ filter.filterName }}</h4>
    </div>
    <div id="filter-choices" *ngIf="filterMode === filterConstants.otherMode">
        <h4 *ngFor="let filter of otherFilters" (click)="openConfiguration(filter)">{{ filter.filterName }}</h4>
    </div>

    <div id="filter-grouping">
        <h4>Filter by</h4>
        <div id="filter-options">
            <h4 (click)="changeFilterMode(filterConstants.stockMode)">Stock Information</h4>
            <h4 (click)="changeFilterMode(filterConstants.optionMode)" >Option Information</h4>
            <h4 (click)="changeFilterMode(filterConstants.otherMode)">Other</h4>
        </div>

        <h4>Sort by</h4>
        <div id="sort-options">
            <h4>Going up by Volume</h4>
        </div>
    </div>
</div>

<div id="filter-configure-container" *ngIf="isConfiguring">
    <h4>Price</h4>
    <select id="comparison-box">
        <option value="great">Greater Than</option>
        <option value="less">Less Than</option>
    </select>
    <br>
    <input id="comparison-value" type="text">
    <br>
    <button (click)="addFilter()">DONE</button>
</div>
