.stock-box {
    border: black solid 1px;
    background-color: darkseagreen;
    width: 3rem;
    padding: .5% 2.5%;
    font-weight: 800;
    margin: 1% 2%;
}

#stock-container {
    width: 75%;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

#stock-container {
    width: 75%;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

#filter-controls-container {
    width: 75%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
}

#left-button-container {
    width: 16%;
}

#right-button-container {
    width: 16%;
}

#filter-container {
    width: 33.3%;
    overflow: auto;
    height: 7rem;
    background-color: white;
}

#filter-controls-container > div > h4 {
    width: initial;
    text-align: center;
    border: grey 1px solid;
    background-color: white;
    margin: 0%;
}

#filter-controls-container > div > button {
    width: 100%;
    padding: 0.25%  2%;
    text-align: center;
    border: grey 1px solid;
    background-color: white;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
