h2 {
    margin: 0;
}

#navigation-bar {
    text-align: center;
    padding: 2%;
}

#navigation-bar > .links {
    width: 20%;
    font-weight: 700;
    display: flex;
    margin: auto;
    justify-content: space-between;
    text-align: center;
}

#navigation-bar > .links > a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

#navigation-bar > img {
    height: 4rem;
    width: 4rem;
}