/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: white;
}

button {
    background: white;
    color: black;
    padding: 5% 15%;
}